<%- include('../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" action="/api/usergames/biodata">
                    <input type="hidden" name="userId" value="<%= userGames.id %>">
                    <div>
                        <label for="fullname">Full Name</label>
                        <input type="text" name="fullname" placeholder="Input full name" class="form-control">
                        <label for="dob">Tanggal Lahir</label>
                        <input type="text" name="dob" placeholder="Input Date of Birthday" class="form-control">
                        <label for="location">Location</label>
                        <input type="text" name="location" placeholder="Input location" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                </form>

    </div>



    <%- include('../partials/footer') %>