<%- include('../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" id="editUserGamesBiodataForm" action="/api/usergamesbiodata/edit">
                    <div>
                        <input type="hidden" name="id" value="<%= userGamesBiodata.id %>">
                        <label for="fullname">FullName</label>
                        <input type="text" name="fullname" placeholder="Input Fullname" class="form-control"
                            value="<%= userGamesBiodata.fullname %>">
                        <label for="dob">Date of Birthday</label>
                        <input type="text" name="dob" placeholder="Input date of birthday" class="form-control"
                            value="<%= userGamesBiodata.dob %>">
                        <label for="location">Location</label>
                        <input type="text" name="location" placeholder="Input location" class="form-control"
                            value="<%= userGamesBiodata.location %>">
                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                </form>

    </div>



    <%- include('../partials/footer') %>