<%- include('../partials/header') %>
    <div class="container mt-5">

        <div>
            <!-- <div>
                <a href="/createUserGamesBiodata">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus" aria-hidden="true">
                        </span>
                    </button>
                </a>
            </div> -->
            <table class="table table-hover table-striped">
                <tr>
                    <th>ID</th>
                    <% if (session.isAdmin) { %>
                        <th>Created By</th>
                        <% } %>
                            <th>Full Name</th>
                            <th>Date Of Birthday</th>
                            <th>Location</th>
                            <th>Create Date</th>
                            <th>Update At</th>
                            <th>Action</th>
                </tr>
                <% userGamesBiodata.forEach(p=> { %>
                    <tr>
                        <td>
                            <%= p.id %>
                        </td>
                        <% if (session.isAdmin) { %>
                            <td>
                                <%= p.user_games.username %> (<%= p.user_games.id %>)
                            </td>
                            <% } %>
                                <td>
                                    <%= p.fullname %>
                                </td>

                                <td>
                                    <%= p.dob %>
                                </td>
                                <td>
                                    <%= p.location %>
                                </td>
                                <td>
                                    <%= p.createdAt %>
                                </td>
                                <td>
                                    <%= p.updatedAt %>
                                </td>
                                <td>
                                    <!-- <a href="/show/<%= p.id %>" class="btn btn-warning">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a> -->
                                    <a href="/editBiodata/<%= p.id %>" class="btn btn-primary">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="/api/usergames/delete/<%= p.id %>" class="btn btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                    </tr>
                    <% }) %>
            </table>
        </div>

    </div>



    <%- include('../partials/footer') %>