<%- include('./partials/header') %>
    <div class="container mt-5 text-center">
        <main class="form-signin">
            <form method="post" action="/api/authentication/register">
                <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt=""
                    width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Create your account</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" name="username" id="floatingInput" placeholder="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign me up</button>
            </form>
        </main>
    </div>

    <%- include('./partials/footer') %>