<%- include('../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" id="createUserGamesForm" action="/api/usergames">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" name="username" placeholder="Input username" class="form-control">
                        <label for="name">Password</label>
                        <input type="password" name="password" placeholder="Input password" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                </form>

    </div>



    <%- include('../partials/footer') %>