<%- include('../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" id="editUserGamesForm" action="/api/usergames/edit">
                    <div>
                        <input type="hidden" name="id" value="<%= userGames.id %>">
                        <label for="username">Username</label>
                        <input type="text" name="username" placeholder="Input username" class="form-control"
                            value="<%= userGames.username %>">
                        <label for="name">Password</label>
                        <input type="password" name="password" placeholder="Input password" class="form-control"
                            value="<%= userGames.password %>">
                    </div>
                    <% if (session.isAdmin) { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="isAdmin" id="flexCheckDefault"
                                <%=userGames.isAdmin ? 'checked' : '' %>>
                            <label class="form-check-label" for="flexCheckDefault">
                                admin?
                            </label>
                        </div>
                        <% } %>
                            <button type="submit" class="btn btn-info">Save</button>
                </form>

    </div>



    <%- include('../partials/footer') %>