<%- include('../partials/header') %>
    <div class="container mt-5">

        <div>
            <div>
                <a href="/userGames/createUserGames">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus" aria-hidden="true">
                        </span>
                    </button>
                </a>
            </div>
            <table class="table table-hover table-striped">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <!-- <th>Phones</th> -->
                    <th>Create Date</th>
                    <th>Last Update</th>
                    <th>Action</th>
                </tr>
                <% userGames.forEach(p=> { %>
                    <tr>
                        <td>
                            <%= p.id %>
                        </td>
                        <td>
                            <%= p.username %>
                        </td>

                        <td>
                            <%= p.createdAt %>
                        </td>
                        <td>
                            <%= p.updatedAt %>
                        </td>
                        <td>
                            <a href="/userGames/show/<%= p.id %>" class="btn btn-warning">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a href="/userGames/edit/<%= p.id %>" class="btn btn-primary">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="/api/usergames/delete/<%= p.id %>" class="btn btn-danger">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>

    </div>



    <%- include('../partials/footer') %>