<%- include('../partials/header') %>
    <div class="container mt-5">

        <div>
            <a class="btn btn-warning" href="/userGames/show/<%= userGames.id %>/biodata">Add Biodata</a>
            <a class="btn btn-primary" href="/userGames/show/<%= userGames.id %>/history">Add History</a>
            <table class="table table-hover table-striped">
                <tr>
                    <td>ID</td>
                    <td>
                        <%= userGames.id %>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <%= userGames.username %>
                    </td>
                </tr>
                <tr>
                    <td>Create Date</td>
                    <td>
                        <%= userGames.createdAt %>
                    </td>
                </tr>
                <tr>
                    <td>Last Updated</td>
                    <td>
                        <%= userGames.updatedAt %>
                    </td>
                </tr>
            </table>
        </div>

    </div>



    <%- include('../partials/footer') %>